{% extends "FamilyTreeBundle::main.index.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="hero-unit">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% else %}
            <p><a href="{{ path('family_tree_register_family') }}">ادامه ثبت نام</a></p>
        {% endif %}
    {% else %}
        <p><a href="{{ path('family_tree_register_family') }}">ادامه ثبت نام</a></p>
    {% endif %}
</div>
{% endblock %}
